@import 'bulma/css/bulma.min.css';

html {
    height: 100%;
}

/* body {
    height: 100%;
    background-image: url(../public/Business_Documents.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
} */

.page{
    height: 100%;
}

.search-results-container {
    gap: 1rem;
}

.result-card {
    opacity: 0.9;
}
